* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

header {
  padding: 30px 70px 30px;
  height: 250px;
  border-bottom: solid 1px lightgrey;
  @import 'header';
}

main {
  padding: 80px;
  height: calc(100% - 250px);
  @import 'home';
}

footer {
  padding: 70px;
  height: 250px;
  border-top: solid 1px lightgrey;
  @import 'footer';
}
