* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

header {
  padding: 30px 70px 30px;
  border-bottom: solid 1px lightgrey;
}

header a {
  text-decoration: none;
}

header .container-header-superiore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container-header-superiore .logo {
  display: flex;
  align-items: center;
}

header .container-header-superiore .logo img:first-child {
  padding-right: 40px;
}

header .container-header-superiore .logo img:nth-child(2) {
  height: 38px;
}

header .container-header-superiore ul {
  display: flex;
}

header .container-header-superiore ul li {
  padding-left: 78px;
}

header .container-header-superiore ul li a {
  color: #81939c;
}

header nav {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

header nav a {
  font-size: 14px;
  font-weight: bold;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding-right: 70px;
}

header nav ul li a {
  color: black;
}

header nav .search a {
  color: #81939c;
}

main {
  padding: 80px;
}

main .first-section-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .first-section-home h2 {
  padding-bottom: 15px;
  font-weight: lighter;
  border-bottom: solid 1px lightgrey;
}

main .first-section-home .novita .new-libreria {
  padding-top: 15px;
}

main .first-section-home .novita .new-libreria img {
  padding-right: 20px;
}

main .first-section-home .piu-venduti ul {
  padding-top: 15px;
}

main .first-section-home .piu-venduti ul li {
  padding-bottom: 25px;
  list-style-type: decimal;
}

main .first-section-home .piu-venduti ul li span {
  font-weight: bold;
  display: block;
}

footer {
  padding: 70px;
  border-top: solid 1px lightgrey;
}

footer .footer-alto {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px lightgrey;
  padding: 30px 0px;
}

footer .footer-alto li {
  padding-bottom: 20px;
}

footer .footer-alto li a {
  text-decoration: none;
  color: #6e6e6e;
}

footer .footer-basso {
  display: flex;
  align-items: center;
  padding: 30px 150px;
}

footer .footer-basso img {
  padding-right: 20px;
  height: 70px;
}

footer .footer-basso ul {
  display: flex;
  padding-bottom: 10px;
}

footer .footer-basso ul li {
  padding-right: 20px;
}

footer .footer-basso ul li a {
  text-decoration: none;
  color: #6e6e6e;
}

