* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

header {
  padding: 30px 70px 30px;
  height: 250px;
  border-bottom: solid 1px lightgrey;
}

header a {
  text-decoration: none;
}

header .container-header-superiore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container-header-superiore .logo {
  display: flex;
  align-items: center;
}

header .container-header-superiore .logo img:first-child {
  padding-right: 40px;
}

header .container-header-superiore .logo img:nth-child(2) {
  height: 38px;
}

header .container-header-superiore ul {
  display: flex;
}

header .container-header-superiore ul li {
  padding-left: 78px;
}

header .container-header-superiore ul li a {
  color: #81939c;
}

header nav {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

header nav a {
  font-size: 14px;
  font-weight: bold;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding-right: 70px;
}

header nav ul li a {
  color: black;
}

header nav .search a {
  color: #81939c;
}

main {
  padding: 70px;
  height: calc(100% - 250px);
}

main .first-section-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding: 70px;
  height: 250px;
  border-top: solid 1px lightgrey;
}

footer .footer-alto {
  display: flex;
  justify-content: space-around;
}

footer .footer-alto a {
  text-decoration: none;
  color: #6e6e6e;
}

